#services{
    h2{
        font-size: 2.5rem;
        margin-bottom: 1rem;
        span{
            color: orangered;
        }
    }
    .container{
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 8%;
        align-items: center;
        justify-content: space-between;
    }


     .articles{
        article{
            background-color: $secondary-color;
            padding: 1rem;
            border-radius: 5rem;
            display: flex;
            gap: 1.5rem;
            height: fit-content;
            transition: all 400ms ease;
            box-shadow: $shadow;

            &:hover{
                margin-top: -0.5rem;
            }
    
            div{
                h4{
                    margin-bottom: 1rem;
                    font-weight: 500;
                    color: $sub-text-color;
                }
    
            }
        }
     }

   .service-text{
     padding-top: .5rem;
    
    h1{
        font-size: 2.5rem;
        line-height: 1;
        span{
            color: orangered;
        }
    }

    P{
        width: 95%;
        font-weight: 100;
        margin: 1rem 0 2rem;
        color: $light-color;
        font-size: 1.1rem;
    }
   }

}

//tablet

@media screen and(max-width: 840px){
    #services{
        .container{
            gap: 1rem;
            grid-template-columns: 1fr 1fr;

            article{
                padding: 1.2rem;
                gap: 0.8rem;

                &:hover{
                    margin: 0;
                }
            }
        }
    }
}

@media screen and(max-width: 500px){
    #services{
       .container{
        grid-template-columns: 1fr;

        article{
            h4{
                margin-top: 0.8rem;
            }
        }
       }
    }
}